:root {
  --dark: #020617;
  --light: #e2e8f0;
  --primary-1: #1e3a8a;
  --primary-2: #3b82f6;

  --light-primary-1: #1d4ed8;
  --light-primary-2: #60a5fa;

  --secondary-1: #0f172a;
  --secondary-2: #0ea5e9;

  --glass-light: rgba(255, 255, 255, 0.1);
  --glass-dark: rgba(2, 6, 23, 0.85);
  --glass-border-light: rgba(59, 130, 246, 0.2);
  --glass-border-dark: rgba(0, 0, 0, 0.2);
}
